.card-row {
  display: flex;
  /* margin: 10px 0; */
  /* padding-left: 45.5px; */
  padding-left: 38px;
}
.card {
  background-color: #3568c1;
  /* width: 70px; */
  /* width: 85px; */
  /* height: 83px; */
  color: #fff;
  display: flex;
  font-size: 10px;
  padding: 0 10px;
  align-items: center;
  text-align: center;
  /* margin: 7.5px 10px 2px 10px; */
  border: 0.25px solid white;
  justify-content: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 70px;
  height: 75px;
  margin: 1.5px 7.5px;
}
.card.over {
  border: 2px dashed #000;
}
.card img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
}
.card img:hover {
  cursor: pointer;
}
main {
  width: 100%;
  margin: 0 auto;
}
#grid {
  width: auto;
}
* {
  box-sizing: border-box;
}
td {
  border-left: 0.15px solid black;
  /* width: 90px; */
  width: 85px;
  /* height: 100px; */
  height: 83px;
}
tr {
  display: flex;
  border-top: 0.15px solid black;
}
tr td:last-child {
  border-right: 0.15px solid black;
}
#grid tr:last-child {
  border-bottom: 0.15px solid black;
}
.hidden {
  visibility: hidden;
}

#grid-container {
  display: flex;
}
#grid-heading {
  background-color: #3568c1;
  color: white;
  /* margin-bottom: -2px; */
  display: flex;
  padding: 7px;
}
#swim-lanes {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 12px;
}

#swim-lane-box {
  background-color: #3568c1;
  color: white;
  width: fit-content;
}
#swim-lane-background {
  height: 622px;
  background-color: #3568c1;
  width: 37px;
  position: absolute;
  left: 1px;
  z-index: -1;
  border: 1px solid black;
}

.draggable-row {
  padding-left: 35px;
}
.draggableBox {
  margin: 1px 0px 0px;
}

tr.draggable-row {
  border: none;
}
td.draggableBox {
  border: none;
}

tr td:last-child.draggableBox {
  border: none;
}

#grid-heading {
  border: 1px solid black;
  margin-bottom: -3px;
}

tr:first-child,
tr:nth-child(2) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
